<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>To save your food intake and nutrition.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>To read your steps, heart rate, and calories.</string>
</dict>
</plist>
